<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <div class="card" *ngFor="let blog of blogs" style="margin-top: 1em">
            <div class="card-header">
                <h2><strong>{{blog.title}}</strong>&nbsp;<sup>by {{blog.author}}</sup></h2>
            </div>
            <div class="card-body" [innerHTML]="blog.body"></div>
        </div>
    </div>
</div>
